/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}



/* UTILITIES */

.container{
    max-width: 1270px;
    margin: 0 auto;
}

/* Menu */

.header-menu{
    display: flex;
    align-items:center;
}


.header-menu li{
    list-style:none;
    margin-right: 3rem;
}

.header-menu li:last-child{
    margin-right: 0;
}

.header-menu li a{
    text-decoration:none;
    font-size: 16px;
    color: #8c8e8f;
}


/* LAYOUT */

/* HEADER */

.app-header .container{
    display: flex;
    align-items: center;
    height: 120px;
}

.app-header .container .logo{
    width: 10%;
    text-align: center;
}

.app-header .container .header-left{
    width: 20%;
}

.app-header .container .header-right{
    display: grid;
    width: 70%;
    justify-items: flex-end;
    padding-right: 1rem;
}








